body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFA500; /* Orange background */
  color: #000; /* Text color */
}

header {
  background-color: #FF8C00; /* Darker orange */
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

button {
  background-color: #fff;
  color: #FF8C00;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #FF7F50; /* Coral color for hover effect */
}

form {
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="url"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #FF8C00;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

button[type="submit"]:hover {
  background-color: #FF7F50;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}

thead {
  background-color: #FF8C00;
  color: #fff;
}
